<div class="col-xs-6 col-md-3 boxcenter">
  <%= link_to product_path(product) do %>
      <% if product.image.present? %>
      <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
  <% end %>
  <div class="titlebox">
      【<%= product.title %>】
       <span class="" style="color:orange;font-weight:bold;">¥ <%= product.price %></span>
       <!--加入购物车开始-->
           <div style="float:left;position:absolute;top:260px;left:90px;">
           <%= link_to("  加入购物车", add_to_cart_product_path(product), :method => :post, :remote => true, :class => "btn btn-warning fa fa-shopping-cart") %>
           </div>
       <!--加入购物车结束-->
  </div>
</div>
